.fa-1x {
    font-size: 1.5rem;
  }
  .navbar-toggler.toggler-example {
    cursor: pointer;
  }

  .fondo-baby-pink{
    background-color: #F2CCC3;
  }
  .btn-baby-pink{
    border-color: #F2CCC3 !important;
    color: #ffffff;
  }


  .fondo-light-coral{
    background-color: #E78F8E;
  }
  .btn-light-coral{
    border-color: #E78F8E !important;
    color: #ffffff;
  }


  .fondo-misty-rose{
    background-color: #FFF6E8;
  }
  .btn-misty-rose{
    border-color: #FFF6E8 !important;
    color: #ffffff;
  }


  .fondo-celestio {
    background-color:#3b8cc2;
  }
  .btn-celestio{
    border-color: #3b8cc2 !important;
    color: #ffffff;
  }


  .fondo-pink-sherbet{
    background-color: #F48498;
  }
  .btn-pink-sherbet{
    border-color: #F48498 !important;
    color: #ffffff;
  }
  .btn-pink-sherbet:hover{
    color: #ffffff;
    background-color: #CE1235;
  }

  .fondo-red-crayola{
    background-color: #ED3153;
  }
  .btn-red-crayola{
    border-color: #ED3153 !important;
    color: #ffffff;
  }

  .fondo-lavender-blush{
    background-color: #FDECF0;
  }
  .btn-lavender-blush{
    border-color: #FDECF0 !important;
    color: #ffffff;
  }
  .btn-lavender-blush:hover{
    background-color: #F36881;
    color: #ffffff;
  }




