.Footer{
    background-color: #F2CCC3;
    color: #FFF6E8;
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    padding: 20px;
}

.fondo-baby-pink{
    background-color: #F2CCC3;
  }

  .fondo-light-coral{
    background-color: #E78F8E;
  }

  .fondo-misty-rose{
    background-color: #FFF6E8;
  }

  .fondo-celestio {
    background-color:#3b8cc2;
  }

  .fondo-pink-sherbet{
    background-color: #F48498;
  }