.fa-1x {
    font-size: 1.5rem;
  }
  .navbar-toggler.toggler-example {
    cursor: pointer;
  }

  .fondo-celestio {
    background-color:#3b8cc2;
  }

  .fondo-pink-sherbet{
    background-color: #F48498;
  }

